<div class="row">
  <div class="col-md-12">
    <h2>Add a new user</h2>
    <form method="POST" action="/users/add">
      <input type="text" name="firstName" placeholder="First name" class="form-control mb-4">
      <input type="text" name="lastName" placeholder="Last name" class="form-control mb-4">
      <input type="text" name="username" placeholder="Username" class="form-control mb-4">
      <input type="email" name="email" placeholder="Email" class="form-control mb-4" required>
      <input type="number" name="age" placeholder="Age" class="form-control mb-4">
      <input type="text" name="bio" placeholder="Bio" class="form-control mb-4">
      <input type="text" name="phone" placeholder="Phone number" class="form-control mb-4">
      <input type="text" name="street" placeholder="Street name" class="form-control mb-4">
      <input type="text" name="number" placeholder="Street number" class="form-control mb-4">
      <input type="text" name="zip" placeholder="Zip code" class="form-control mb-4">
      <input type="text" name="country" placeholder="Country" class="form-control mb-4">
      <input type="text" name="city" placeholder="City" class="form-control mb-4">
      <input type="text" name="state" placeholder="State" class="form-control mb-4">
      <button type="submit" class="btn btn-success" style="margin: 10px;">Add user</button>
  </div>
  </form>
</div>